<body class="ArtistsDBody">
    @model FirstMVCApp.Models.Artist

    @{
        ViewBag.Title = "Details";
    }

    <h2 class="Details">Artist Details</h2>

    <div class="row">
        <div class="col-md-4">
            <h3 class="Details">@Html.DisplayNameFor(model => model.ArtistName)</h3>
            <p class="Details">@Html.DisplayFor(model => model.ArtistName)</p>
            <h3 class="Details">@Html.DisplayNameFor(model => model.Album.Photo)</h3>
            <img class="DetailPhoto" src="@Html.DisplayFor(model => model.Album.Photo)" />
            <p class="DetailsAction">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistID }) : @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</body>
