@model IEnumerable<FirstMVCApp.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Artist</h2>

<p>
    @Html.ActionLink("Add New Artist", "Create")
</p>

<div class="row">
    
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => item.ArtistName)</h2>
                <img class="AlbumPhoto" src="@Html.DisplayFor(modelItem => item.Album.Photo)" />
                <p>@Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }) : @Html.ActionLink("Details", "Details", new { id = item.AlbumID }) : @Html.ActionLink("Delete", "Delete", new { id = item.AlbumID })</p>

            </div>

        }

    
</div>
