<body class="AlbumDetails">
    @model FirstMVCApp.Models.Album

    @{
        ViewBag.Title = "Details";
    }

    <h2 class="Details">Album Details</h2>
    <div class="row">

        <div class="col-md-4">
            <img class="DetailPhoto" src="@Html.DisplayFor(model => model.Photo)" />
            <h3 class="Details"> @Html.DisplayNameFor(model => model.AlbumName)</h3>
            <p class="Details">@Html.DisplayFor(model => model.AlbumName)</p>
            <h3 class="Details">@Html.DisplayNameFor(model => model.TrackAmount)</h3>
            <p class="Details">@Html.DisplayFor(model => model.TrackAmount)</p>
            <h3 class="Details">@Html.DisplayNameFor(model => model.WonGrammy)</h3>
            <p class="Details">@Html.DisplayFor(model => model.WonGrammy)</p>
            <h3 class="Details">@Html.DisplayNameFor(model => model.YearReleased)</h3>
            <p class="Details">@Html.DisplayFor(model => model.YearReleased)</p>
            <p class="DetailsAction">
                @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) : @Html.ActionLink("Back to List", "Index")
                    </p>
        </div>
    </div>    
   </body>